<%- include('../elementosSite/header') %>

<%- include('../elementosSite/navbar') %>

<%- include('../elementosSite/carrossel') %> 

<h1 class="TituloPost">Posts</h1>

<%- include('../elementosSite/posts') %>

<%- include('../elementosSite/footer') %>