<%- include('../partials/header') %>
<body>
    <h1>posters</h1>
    <ul>
        <% for( let c of publicacoes ) { %>
            <li>
                <%=c.poster%> - <b><%=c.username%></b>
                <a href="/publicacoes/<%=c.id%>">Detalhes</a>
            </li>
        <% } %>
    </ul>

    <a href="/publicacoes/novo">Novo poster</a>
    <a href="/usuarios/logoff">Logoff</a>
    <a href="/home">Home</a>
<%- include('../partials/footer') %>