<%- include('../partials/header') %>

    <%- include('../partials/navbar') %>

        <%- include('../partials/carrossel') %>

            <h1 class="TituloPost">Posts</h1>

            <%- include('../partials/posts') %>

                <%- include('../partials/footer') %>