<%- include('../partials/header') %>
    <div class="card text-white bg-dark mb-3" style="max-width: 50rem;" style="max-height: auto;" id="backgroundLogin">
        <div class="card-body">
            <div class="caixaConteudo">
                <h1 class="caixaConteudo">ID do usuario: <%=usuario.id%>
                </h1>
                <h2 class="caixaConteudo">Nome: <%=usuario.username%>
                </h2>
                <h2 class="caixaConteudo">Email: <%=usuario.useremail%>
                </h2>
                <h2 class="caixaConteudo">Senha: <%=usuario.password%>
                </h2>
            </div>
            <a href="/usuarios/<%=usuario.id%>/edit">Editar usuario</a>
            <form method="POST" action="/usuarios/<%=usuario.id %>?_method=DELETE">
                <button>Apagar</button>
            </form>
            <a href="/home">Voltar para o index</a>
        </div>
    </div>
    <%- include('../partials/footer') %>