<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
    <div class="card-body" id="informacao">
        <div class="caixa">
            <div class="caixaConteudo">
                <h4 class="caixaConteudo">ID do usuario: <%=usuario.id%>
                </h4>
                <h4 class="caixaConteudo">Nome: <%=usuario.username%>
                </h4>
                <h4 class="caixaConteudo">Email: <%=usuario.useremail%>
                </h4>
                <h4 class="caixaConteudo">Senha: <%=usuario.password%>
                </h4>

                <div class="formBotoes">
                    <a href="/usuarios/<%=usuario.id%>/edit">Ediatar usuario</a>
                    <a href="/usuarios/settings">Voltar</a>
                </div>
                <form method="POST" action="/usuarios/<%=usuario.id %>?_method=DELETE" class="formBotoes">
                    <button class="btn btn-primary">Apagar</button>

                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>