<%- include('../partials/header') %>
<body>
    <h1>usuarios</h1>
    <ul>
        <% for( let c of usuarios ) { %>
            <li>
                <b><%=c.username%> - <%= c.useremail %> </b>
                <a href="/usuarios/<%=c.id%>">Modificar</a>
            </li>
        <% } %>
    </ul>
    <a href="/publicacoes/novo">Novo poster</a>
    <a href="/home">Home</a>
<%- include('../partials/footer') %>