<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <div class="card-body" id="informacao">
            <% for( let c of usuarios ) { %>
                <ul>
                    <li class="caixa">
                        <p class="caixaConteudo"><b>Nome de usuário:</b>
                            <%=c.username%>
                        </p>
                        <p class="caixaConteudo"><b>Email:</b>
                            <%=c.useremail%>
                        </p>
                        <a href="/usuarios/<%=c.id%>"><button class="btn btn-primary">Detalhes</button></a>
                    </li>
                </ul>
                <% } %>
        </div>
        <%- include('../partials/footer') %>