<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <div class="card-body" id="informacao">
            <% for( let c of usuarios ) { %>
                <ul>
                    <li class="caixa">
                        <p class="caixaConteudo"><b>Nome de usuário:</b> <%=c.username%>
                        </p>
                        <p class="caixaConteudo"><b>Email:</b> <%=c.useremail%>
                        </p>
                        <p class="caixaConteudo"><b>Senha:</b> <%=c.password%>
                        </p>
                        <a href="/usuarios/<%=c.id%>"><button class="btn btn-primary">Detalhes</button></a>
                    </li>
                </ul>


                <% } %>
                    <a href="/home"><button class="btn btn-primary">Voltar para pagina principal</button></a>



        </div>
        <%- include('../partials/footer') %>